<% content_for(:title, 'Sign up') %>
<% content_for(:button_text, 'Create your account') %>
<% content_for(:url, signup_path) %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render('form') %>
  </div>
</div>